.hello {
    background: rgba(0,0,0,0);
    position: absolute;
    display: block;
    align-items: center;
}

.there {
    color: white;
    /* font-family: 'Homemade Apple', cursive; */
    text-align: center;
}